In [1]:
#from google.colab import drive
#drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [1]:
import pandas as pd
import re

CLEAN VIEWS DATA

In [3]:
#path = f'/content/gdrive/MyDrive/Documents/BlackpinkData/videos_count_data.json'
path = f'datasets/videos_count_data.json'
data_list = []
with open(path) as f:
    for line in f:
        if line.isspace():
            continue  # Skip empty lines
        data = eval(line)  # Evaluate non-empty lines
        data_list.append(data)

df = pd.DataFrame(data_list)

In [4]:
df.head()

,dateCount,id,title,kind,viewCount,likeCount,commentCount
0,2023-09-19 17:01:02.392672,YudHcBIxlYw,JISOO - ‘꽃(FLOWER)’ M\/V,Music Video,390657394,10117824,1340919
1,2023-09-19 17:01:02.392707,POe9SOEKotk,BLACKPINK - ‘Shut Down’ M\/V,Music Video,522252772,10824498,2239017
2,2023-09-19 17:01:02.392717,gQlMMD8auMs,BLACKPINK - ‘Pink Venom’ M\/V,Music Video,731994719,16069895,3569773
3,2023-09-19 17:01:02.392725,awkkyBH2zEo,LISA - 'LALISA' M\/V,Music Video,653808793,17313679,2815724
4,2023-09-19 17:01:02.392734,K9_VFxzCuQ0,ROSÉ - 'Gone' M\/V,Music Video,267505076,7376149,1240229

In [5]:
num_rows, num_columns = df.shape

print("Num rows: ",num_rows)
print("Num colums: ",num_columns)

Num rows:  21626
Num colums:  7

In [6]:
df.dtypes

dateCount       object
id              object
title           object
kind            object
viewCount        int64
likeCount        int64
commentCount     int64
dtype: object

In [7]:
df['dateCount']= pd.to_datetime(df['dateCount'])

df['date'] = df['dateCount'].dt.date
df['time'] = df['dateCount'].dt.time

In [8]:
df = df.sort_values(['date','time'], ascending=False).drop_duplicates(['id', 'date'])

In [9]:
df = df.sort_values('dateCount').drop(columns = 'dateCount')
df = df.reset_index(drop=True)

In [10]:
display(df)

,id,title,kind,viewCount,likeCount,commentCount,date,time
0,YudHcBIxlYw,JISOO - ‘꽃(FLOWER)’ M\/V,Music Video,390657394,10117824,1340919,2023-09-19,17:01:02.392672
1,POe9SOEKotk,BLACKPINK - ‘Shut Down’ M\/V,Music Video,522252772,10824498,2239017,2023-09-19,17:01:02.392707
2,gQlMMD8auMs,BLACKPINK - ‘Pink Venom’ M\/V,Music Video,731994719,16069895,3569773,2023-09-19,17:01:02.392717
3,awkkyBH2zEo,LISA - 'LALISA' M\/V,Music Video,653808793,17313679,2815724,2023-09-19,17:01:02.392725
4,K9_VFxzCuQ0,ROSÉ - 'Gone' M\/V,Music Video,267505076,7376149,1240229,2023-09-19,17:01:02.392734
...,...,...,...,...,...,...,...,...
20961,EKHdMwRaU60,BLACKPINK​ - '붐바야(BOOMBAYAH)' 0828 SBS Inkigayo,Performance,61072628,830637,23111,2024-03-08,00:53:40.688039
20962,metZ_f8aqC0,BLACKPINK​ - '휘파람(WHISTLE)' 0821 SBS Inkigayo,Performance,42368589,899082,26151,2024-03-08,00:53:40.688041
20963,RGmL76BBGZk,BLACKPINK​ - '붐바야(BOOMBAYAH)' 0821 SBS Inkigay...,Performance,17241873,544180,14644,2024-03-08,00:53:40.784902
20964,vAqAp1tJnkc,BLACKPINK - '휘파람’(WHISTLE) 0814 SBS Inkigayo,Performance,48468493,862089,29265,2024-03-08,00:53:40.784918
20965,LpSH8MrYCfg,BLACKPINK - '붐바야(BOOMBAYAH)' 0814 SBS Inkigayo,Performance,172297954,2562503,80221,2024-03-08,00:53:40.784921

In [23]:
df['title'] = df['title'].replace("M\V", "MV")

In [24]:
def extract_artist(title):
    match = re.match(r'(.+?) ', title)
    if match:
        return match.group(1)
    else:
        return None

df['artist'] = df['title'].apply(extract_artist)

In [25]:
#display(df)

,id,title,kind,viewCount,likeCount,commentCount,date,time,artist
0,YudHcBIxlYw,JISOO - ‘꽃(FLOWER)’ M\/V,Music Video,390657394,10117824,1340919,2023-09-19,17:01:02.392672,JISOO
1,POe9SOEKotk,BLACKPINK - ‘Shut Down’ M\/V,Music Video,522252772,10824498,2239017,2023-09-19,17:01:02.392707,BLACKPINK
2,gQlMMD8auMs,BLACKPINK - ‘Pink Venom’ M\/V,Music Video,731994719,16069895,3569773,2023-09-19,17:01:02.392717,BLACKPINK
3,awkkyBH2zEo,LISA - 'LALISA' M\/V,Music Video,653808793,17313679,2815724,2023-09-19,17:01:02.392725,LISA
4,K9_VFxzCuQ0,ROSÉ - 'Gone' M\/V,Music Video,267505076,7376149,1240229,2023-09-19,17:01:02.392734,ROSÉ
...,...,...,...,...,...,...,...,...,...
842,metZ_f8aqC0,BLACKPINK​ - '휘파람(WHISTLE)' 0821 SBS Inkigayo,Performance,41540786,891463,26121,2023-09-25,15:58:51.526231,BLACKPINK​
843,RGmL76BBGZk,BLACKPINK​ - '붐바야(BOOMBAYAH)' 0821 SBS Inkigay...,Performance,17045156,540850,14615,2023-09-25,15:58:51.526231,BLACKPINK​
844,HoAdqZW4ptY,BLACKPINK - '불장난 (PLAYING WITH FIRE)' 1127 SBS...,Performance,6876095,269504,7413,2023-09-25,15:58:51.526231,BLACKPINK
845,LpSH8MrYCfg,BLACKPINK - '붐바야(BOOMBAYAH)' 0814 SBS Inkigayo,Performance,168445681,2538624,80106,2023-09-25,15:58:51.700348,BLACKPINK
846,vAqAp1tJnkc,BLACKPINK - '휘파람’(WHISTLE) 0814 SBS Inkigayo,Performance,48071658,857652,29205,2023-09-25,15:58:51.700348,BLACKPINK

In [26]:
df['artist'].unique()

array(['JISOO', 'BLACKPINK', 'LISA', 'ROSÉ', 'JENNIE', 'BLACKPINK\u200b'],
      dtype=object)

In [27]:
df['artist'] = df['artist'].replace('BLACKPINK\u200b','BLACKPINK')

In [29]:
#file_path = f'/content/gdrive/MyDrive/Documents/BlackpinkData/CLEANED_videos_count_data.xlsx'
file_path = f'CLEANED_videos_count_data.xlsx'

df['date'] = df['date'].astype(str)

with open(file_path, 'w') as f:
    #df_json = df.to_json(orient='records', lines=True)
    #f.write(df_json + '\n')
    df.to_excel(file_path, index=False)